
.navbarMain {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: transparent;

}

.navHomeLogo {
    text-align: center;
    margin-left: 70px;
}
.navHomeLogo>a>h2 {
    color: rgb(41, 199, 112);
    margin-top: -10px;
    font-size: 22px;
    font-weight: 500;
}
.navHomeLogo>a>p {
    color: black;
    font-size: 10px;
    font-weight: 400;
}

.navLinkCont{
    width: 60%;
    margin-right: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLinkCont>a {
    color: rgb(41, 199, 112);
    text-decoration: none;
    font-weight: bold;
}
.navLinkCont>select {
    padding: 15px;
    background-color: rgb(41, 199, 112);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}